* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: beige;
}
.container > div {
  gap: 5px;
}
.container {
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-areas: 
  "display display display display"
  "clear clear clear operator"
  "numpad numpad numpad operator"
  "numpad numpad numpad operator"
  "numpad numpad numpad operator"
  "numpad numpad numpad operator";
  gap: 5px;
}
.display {
  height: 100px;
  grid-area: display;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3rem;
}
.clear {
  grid-area: clear;
}
.numpad {
  grid-area: numpad;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 100px);
}
button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
}
.numpad > button:nth-last-of-type(2) {
  grid-column: 1/3;
  width: 200px;
  border-radius: 50px;
}
.clear {
  display: flex;

}
.operators {
  grid-area: operator;
  display: flex;
  flex-direction: column;

}

.operators > button {
  height: 100px;
}